

{% extends 'base.html' %}

{% block title %}Home{% endblock %}



{% block content %}

{% load static %}

    <div class="banner" id="top">
        <div class="headar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="logo pull-left">
                            <a href="#"><img src="{% static 'assets/img/logo-white.png' %}" alt="logo"></a>
                        </div>
                        <div class="btn-section pull-right">
                            <a href="main/logout_view/" class="btn-3"><i class="fa fa-sign-in-alt"></i>  Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb Area -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>AutoWorth - Predict Worth of your Vehicle</h1>
                        <div class="demo-hero-menu">
                            <ul>
                                <li>1st in India</li>
                                <li>Get Quotation Without inspection</li>
                                <li>Based on Data Science</li>
                                <li>Highest Accuracy</li>
                            </ul>
                        </div>
                        <a class="btn-2 btn-defaults" href="#demos"><span>Get Prediction</span> <i class="arrow"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="pad-tb-100-50" id="demos">
    <div class="container">
        <div class="main-title">
            <h2>
                {% if user.is_authenticated %}
                <span class="navbar-text">Welcome - {{ user.username }}</span>
                {% else %}
                <span class="navbar-text">Welcome, Guest</span>
                {% endif %}
            </h2>
            <h5>Get Quotation</h5>
            <p>Enter your car's details on the Prediction page, and our advanced algorithm will accurately estimate its market value using trusted data.</p>
        </div>
        <div class="row">
            <!-- Listing Cards -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="demo-item">
                    <a href="main/listings/" class="line">
                        <div class="thumb-photo">
                            <img src="{% static 'assets/img/demo-2.png' %}" alt="img" class="hh">
                            <div class="demo-item-content"></div>
                            <div class="demo-item-inner">
                                <a href="main/index-2/" class="icon"><i class="flaticon-arrow-pointing-to-right"></i></a>
                            </div>
                        </div>
                    </a>
                    <a href="main/listings/">
                        <h4>Buy/Sell Car <i class="flaticon-arrow-pointing-to-right"></i></h4>
                    </a>
                </div>
            </div>
            <!-- Repeat for other items... -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="demo-item">
                    <a href="main/index-3/" class="line">
                        <div class="thumb-photo">
                            <img src="{% static 'assets/img/demo-3.png' %}" alt="img" class="hh">
                            <div class="demo-item-content"></div>
                            <div class="demo-item-inner">
                                <a href="main/index-3/" class="icon">
                                    <i class="flaticon-arrow-pointing-to-right"></i>
                                </a>
                            </div>
                        </div>
                    </a>
                    <a href="main/index-3/">
                        <h4>
                            Predict Price  <i class="flaticon-arrow-pointing-to-right"></i>
                        </h4>
                    </a>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="demo-item">
                    <a href="main/index-6/" class="line">
                        <div class="thumb-photo">
                            <img src="{% static 'assets/img/demo-6.png' %}" alt="img" class="hh">
                            <div class="demo-item-content"></div>
                            <div class="demo-item-inner">
                                <a href="main/index-6/" class="icon">
                                    <i class="flaticon-arrow-pointing-to-right"></i>
                                </a>
                            </div>
                        </div>
                    </a>
                    <a href="main/index-6/">
                        <h4>
                            About Us <i class="flaticon-arrow-pointing-to-right"></i>
                        </h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
