{% load static %}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WLMZXT6');</script>
    <!-- End Google Tag Manager -->
    <title>Autuworth-Car Resale Value Predicter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- External CSS libraries -->
    <link type="text/css" rel="stylesheet" href="{% static 'assets2/css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'assets2/css/magnific-popup.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'assets2/css/jquery.selectBox.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'assets2/css/rangeslider.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'assets2/css/animate.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets2/css/jquery.mCustomScrollbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets2/fonts/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets2/fonts/flaticon/font/flaticon.css' %}">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="{% static 'assets2/img/favicon.ico' %}" type="image/x-icon">

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7COswald:200,300,400,500,600%7CRoboto:100,300,400,400i,500,700">

    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" href="{% static 'assets2/css/style.css' %}">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="{% static 'assets2/css/skins/default.css' %}">

</head>
<body id="top">

<div class="page_loader"></div>


<!-- Banner start -->
<div class="banner banner_video_bg" id="banner">
    <div class="pattern-overlay">
        <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=5e0LxrLSzok',containment:'.banner_video_bg', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>
    </div>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-caption banner-slider-inner d-flex h-100 text-left">
                    <div class="carousel-content container">
                        <h1>We love make things amazing and simple</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetu radipisi cing elitBeatae autem aperiam nequ quaera molestias
                        </p>
                        <a href="#" class="btn btn-md btns-black" data-animation="animated fadeInUp delay-05s">Get Started Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner end -->

<!-- Search area start -->

<!-- Search area start -->


<!-- Featured car end -->


<!-- Our services 3 end -->

<!-- Recent cars start -->

<!-- Recent cars end -->

<!-- Our-team-3 start -->

<!-- Our-team-3 end -->

<!-- Testimonial start -->

<!-- Testimonial end -->


<!-- Pricing tables end -->

<!-- Our Partner area end -->
<div class="our-partner">
    <div class="container">
        <div class="main-title">
            <h1>Our Partners</h1>
        </div>
    </div>
    <div class="partner-inner">
        <div class="container">
            <div class="row">
                <div class="multi-carousel" data-items="1,3,5,6" data-slide="1" id="multiCarousel" data-interval="1000">
                    <div class="multi-carousel-inner">
                        <div class="item">
                            <div class="pad15">
                                <img src="{% static 'assets2/img/brands/themeforest.png' %}" alt="brand">
                            </div>
                        </div>
                        <div class="item">
                            <div class="pad15">
                                <img src="{% static 'assets2/img/brands/audiojungle.png' %}" alt="brand">
                            </div>
                        </div>
                        <div class="item">
                            <div class="pad15">
                                <img src="{% static 'assets2/img/brands/codecanyon.png' %}" alt="brand">
                            </div>
                        </div>
                        <div class="item">
                            <div class="pad15">
                                <img src="{% static 'assets2/img/brands/graphicriver.png' %}" alt="brand">
                            </div>
                        </div>
                        <div class="item">
                            <div class="pad15">
                                <img src="{% static 'assets2/img/brands/audiojungle.png' %}" alt="brand">
                            </div>
                        </div>
                        <div class="item">
                            <div class="pad15">
                                <img src="{% static 'assets2/img/brands/themeforest.png' %}" alt="brand">
                            </div>
                        </div>
                        <div class="item">
                            <div class="pad15">
                                <img src="{% static 'assets2/img/brands/tuts.png' %}" alt="brand">
                            </div>
                        </div>
                        <div class="item">
                            <div class="pad15">
                                <img src="{% static 'assets2/img/brands/themeforest.png' %}" alt="brand">
                            </div>
                        </div>
                        <div class="item">
                            <div class="pad15">
                                <img src="{% static 'assets2/img/brands/audiojungle.png' %}" alt="brand">
                            </div>
                        </div>
                        <div class="item">
                            <div class="pad15">
                                <img src="{% static 'assets2/img/brands/codecanyon.png' %}" alt="brand">
                            </div>
                        </div>
                    </div>
                    <a class="multi-carousel-indicator leftLst" aria-hidden="true">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="multi-carousel-indicator rightLst" aria-hidden="true">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Our Partner area start -->

<!-- Footer start -->
<footer class="footer">
    <div class="container footer-inner">
        <div class="row">
            <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6">
                <div class="footer-item">
                    <h4>Contact Us</h4>

                    <ul class="contact-info">
                        <li>
                            Address: 20/F Green Road, Dhanmondi, Dhaka
                        </li>
                        <li>
                            Email: <a href="mailto:themevessel.us@gmail.com">themevessel.us@gmail.com</a>
                        </li>
                        <li>
                            Phone: <a href="tel:+0477-85x6-552">+0477 85X6 552</a>
                        </li>
                        <li>
                            Fax: +0477 85X6 552
                        </li>
                    </ul>

                    <ul class="social-list clearfix">
                        <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
                <div class="footer-item">
                    <h4>
                        Useful Links
                    </h4>
                    <ul class="links">
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i>About us</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i>Service</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i>Car Listing</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i>Car Grid</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i>Contact Us</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i>Blog</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i>Car Details</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="footer-item clearfix">
                    <h4>
                        Gallery
                    </h4>

                    <ul class="gallery">
                        <li>
                            <a href="#">
                                <img src="{% static 'assets2/img/sub-car/sub-car-1.jpg' %}" alt="sub-car-1">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static 'assets2/img/sub-car/sub-car-5.jpg' %}" alt="sub-car-5">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static 'assets2/img/sub-car/sub-car-3.jpg' %}" alt="sub-car-3">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static 'assets2/img/sub-car/sub-car-6.jpg' %}" alt="sub-car-6">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static 'assets2/img/sub-car/sub-car-7.jpg' %}" alt="sub-car-7">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static 'assets2/img/sub-car/sub-car-4.jpg' %}" alt="sub-car-4">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static 'assets2/img/sub-car/sub-car-2.jpg' %}" alt="sub-car-2">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static 'assets2/img/sub-car/sub-car-8.jpg' %}" alt="sub-car-8">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="footer-item clearfix">
                    <h4>Subscribe</h4>
                    <div class="Subscribe-box">
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>
                        <form action="#" method="GET">
                            <p>
                                <input type="text" class="form-contact" name="email" placeholder="Enter Address">
                            </p>
                            <p>
                                <button type="submit" name="submitNewsletter" class="btn btn-block btn-color">
                                    Subscribe
                                </button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <p class="copy">&copy;  2022 <a href="http://themevessel.com/" target="_blank">Theme Vessel</a>. Trademarks and brands are the property of their respective owners.</p>
            </div>
        </div>
    </div>
</footer>


<!-- External JS libraries -->
<script src="{% static 'assets2/js/jquery-2.2.0.min.js' %}"></script>
<script src="{% static 'assets2/js/popper.min.js' %}"></script>
<script src="{% static 'assets2/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets2/js/jquery.selectBox.js' %}"></script>
<script src="{% static 'assets2/js/rangeslider.js' %}"></script>
<script src="{% static 'assets2/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets2/js/jquery.filterizr.js' %}"></script>
<script src="{% static 'assets2/js/wow.min.js' %}"></script>
<script src="{% static 'assets2/js/backstretch.js' %}"></script>
<script src="{% static 'assets2/js/jquery.countdown.js' %}"></script>
<script src="{% static 'assets2/js/jquery.scrollUp.js' %}"></script>
<script src="{% static 'assets2/js/typed.min.js' %}"></script>
<script src="{% static 'assets2/js/jquery.mb.YTPlayer.js' %}"></script>
<script src="{% static 'assets2/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0N5pbJN10Y1oYFRd0MJ_v2g8W2QT74JE"></script>
<script src="{% static 'assets2/js/ie-emulation-modes-warning.js' %}"></script>
<!-- Custom JS Script -->
<script src="{% static 'assets2/js/app.js' %}"></script>

<!-- Google Tag Manager (noscript) -->
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WLMZXT6"
          height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
</body>
</html>>