{% load static %}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WLMZXT6');</script>
    <!-- End Google Tag Manager -->
    <title>AutoWorth - Car resale value predictor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- External CSS libraries -->
    <link type="text/css" rel="stylesheet" href="{% static 'assets2/css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'assets2/css/magnific-popup.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'assets2/css/jquery.selectBox.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'assets2/css/rangeslider.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'assets2/css/animate.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets2/css/jquery.mCustomScrollbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets2/fonts/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets2/fonts/flaticon/font/flaticon.css' %}">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="{% static 'assets2/img/favicon.ico' %}" type="image/x-icon">

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7COswald:200,300,400,500,600%7CRoboto:100,300,400,400i,500,700">

    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" href="{% static 'assets2/css/style.css' %}">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="{% static 'assets2/css/skins/default.css' %}">
<style>
      /* Unique class for the car information container */
.car-info-container {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 30px auto;
    background-color: #f7f7f7;
}

/* Car Information Title */
.car-info-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

/* Styling for the Car Information List */
.car-info-list {
    list-style-type: none;
    padding: 0;
}

/* Each Car Item */
.car-info-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

/* Car Information Text */
.car-info-item p {
    margin: 5px 0;
    font-size: 16px;
    color: #555;
}

/* Message when no car data is available */
.car-info-message {
    text-align: center;
    color: #888;
    font-size: 18px;
}

    </style>

<!--    style for news api-->

</head>
<body id="top">

<div class="page_loader"></div>

<!-- main header start -->


<!--main header end -->
<!-- Banner start -->
<div class="banner" id="banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner banner-max-height banner-opt">
            <div class="carousel-item active">
                <img class="d-block w-100 h-100" src="{% static 'assets2/img/banner/img-3.jpg' %}" alt="banner-slider-2">

                <div class="carousel-caption banner-slider-inner d-flex h-100 text-center">
                    <div class="carousel-content container">
                        <div id="typed-strings">
                            <p>Welcome to AutoWorth</p>
                        </div>
                        <h1 class="typed-text">&nbsp;<span id="typed"></span></h1>
                        <p> we predict accurate resale worth of your car with help of artificial intelligence , tap on Get started Now to see featured Cars</p>
                        <a href="{% url 'index' %}" class="btn btn-md btns-black" data-animation="animated fadeInUp delay-05s">Get Started Now</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
               <img class="d-block w-100 h-100" src="{% static 'assets2/img/banner/img-4.jpg' %}" alt="banner-slider-2">
                <div class="carousel-caption banner-slider-inner d-flex h-100 text-center">
                    <div class="carousel-content container">
                        <div id="typed-strings2">
                            <p>Find Your Dream Car</p>
                        </div>
                        <h1 class="typed-text">&nbsp;<span id="typed2"></span></h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Beatae autem aperiam neque quaerat molestias.</p>
                        <a href="#" class="btn btn-md btns-black" data-animation="animated fadeInUp delay-05s">Get Started Now</a>
                        <a href="#" class="btn btn-md btn-border" data-animation="animated fadeInUp delay-05s">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 h-100" src="{% static 'assets2/img/banner/img-2.jpg' %}" alt="banner-slider-2">

                <div class="carousel-caption banner-slider-inner d-flex h-100 text-center">
                    <div class="carousel-content container">
                        <div id="typed-strings3">
                            <p>Best Place For Sell Car</p>
                        </div>
                        <h1 class="typed-text">&nbsp;<span id="typed3"></span></h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Beatae autem aperiam neque quaerat molestias.</p>
                        <a href="#" class="btn btn-md btns-black" data-animation="animated fadeInUp delay-05s">Get Started Now</a>
                        <a href="#" class="btn btn-md btn-border" data-animation="animated fadeInUp delay-05s">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="slider-mover-left" aria-hidden="true"><i class="fa fa-angle-left"></i></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="slider-mover-right" aria-hidden="true"><i class="fa fa-angle-right"></i></span>
        </a>
    </div>
</div>
<!-- banner end -->



<!-- Our Partner area end -->

<!-- Footer start -->
<footer class="footer">
    <div class="container footer-inner">
        <div class="row">
            <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6">
                <div class="footer-item">
                    <h4>Contact Us</h4>

                    <ul class="contact-info">
                        <li>
                            Address: 20/F Green Road, Dhanmondi, Dhaka
                        </li>
                        <li>
                            Email: <a href="mailto:themevessel.us@gmail.com">themevessel.us@gmail.com</a>
                        </li>
                        <li>
                            Phone: <a href="tel:+0477-85x6-552">+0477 85X6 552</a>
                        </li>
                        <li>
                            Fax: +0477 85X6 552
                        </li>
                    </ul>

                    <ul class="social-list clearfix">
                        <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
                <div class="footer-item">
                    <h4>
                        Useful Links
                    </h4>
                    <ul class="links">
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i>About us</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i>Service</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i>Car Listing</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i>Car Grid</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i>Contact Us</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i>Blog</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i>Car Details</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="footer-item clearfix">
                    <h4>
                        Gallery
                    </h4>

                    <ul class="gallery">
                        <li>
                            <a href="#">
                                <img src="{% static 'assets2/img/sub-car/sub-car-1.jpg' %}" alt="sub-car-1">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static 'assets2/img/sub-car/sub-car-5.jpg' %}" alt="sub-car-5">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static 'assets2/img/sub-car/sub-car-3.jpg' %}" alt="sub-car-3">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static 'assets2/img/sub-car/sub-car-6.jpg' %}" alt="sub-car-6">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static 'assets2/img/sub-car/sub-car-7.jpg' %}" alt="sub-car-7">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static 'assets2/img/sub-car/sub-car-4.jpg' %}" alt="sub-car-4">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static 'assets2/img/sub-car/sub-car-2.jpg' %}" alt="sub-car-2">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static 'assets2/img/sub-car/sub-car-8.jpg' %}" alt="sub-car-8">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="footer-item clearfix">
                    <h4>Subscribe</h4>
                    <div class="Subscribe-box">
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>
                        <form action="#" method="GET">
                            <p>
                                <input type="text" class="form-contact" name="email" placeholder="Enter Address">
                            </p>
                            <p>
                                <button type="submit" name="submitNewsletter" class="btn btn-block btn-color">
                                    Subscribe
                                </button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <p class="copy">&copy;  2022 <a href="http://themevessel.com/" target="_blank">Theme Vessel</a>. Trademarks and brands are the property of their respective owners.</p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer end -->

<!-- External JS libraries -->
<script src="{% static 'assets2/js/jquery-2.2.0.min.js' %}"></script>
<script src="{% static 'assets2/js/popper.min.js' %}"></script>
<script src="{% static 'assets2/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets2/js/jquery.selectBox.js' %}"></script>
<script src="{% static 'assets2/js/rangeslider.js' %}"></script>
<script src="{% static 'assets2/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets2/js/jquery.filterizr.js' %}"></script>
<script src="{% static 'assets2/js/wow.min.js' %}"></script>
<script src="{% static 'assets2/js/backstretch.js' %}"></script>
<script src="{% static 'assets2/js/jquery.countdown.js' %}"></script>
<script src="{% static 'assets2/js/jquery.scrollUp.js' %}"></script>
<script src="{% static 'assets2/js/typed.min.js' %}"></script>
<script src="{% static 'assets2/js/jquery.mb.YTPlayer.js' %}"></script>
<script src="{% static 'assets2/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0N5pbJN10Y1oYFRd0MJ_v2g8W2QT74JE"></script>
<script src="{% static 'assets2/js/ie-emulation-modes-warning.js' %}"></script>
<!-- Custom JS Script -->
<script src="{% static 'assets2/js/app.js' %}"></script>

<!--script added for news api-->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WLMZXT6"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

</body>
</html>
