{% load static %}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WLMZXT6');</script>
    <!-- End Google Tag Manager -->
    <title>Autuworth-Car Resale Value Predicter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- External CSS libraries -->
    <link type="text/css" rel="stylesheet" href="{% static 'assets2/css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'assets2/css/magnific-popup.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'assets2/css/jquery.selectBox.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'assets2/css/rangeslider.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'assets2/css/animate.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets2/css/jquery.mCustomScrollbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets2/fonts/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets2/fonts/flaticon/font/flaticon.css' %}">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="{% static 'assets2/img/favicon.ico' %}" type="image/x-icon">

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7COswald:200,300,400,500,600%7CRoboto:100,300,400,400i,500,700">

    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" href="{% static 'assets2/css/style.css' %}">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="{% static 'assets2/css/skins/default.css' %}">

</head>
<body id="top">

<div class="page_loader"></div>


<!-- Banner start -->
<div class="banner banner_video_bg" id="banner">
    <div class="pattern-overlay">
        <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=5e0LxrLSzok',containment:'.banner_video_bg', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>
    </div>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-caption banner-slider-inner d-flex h-100 text-left">
                    <div class="carousel-content container">
                        <h1>We love make things amazing and simple</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetu radipisi cing elitBeatae autem aperiam nequ quaera molestias
                        </p>
                        <a href="#" class="btn btn-md btns-black" data-animation="animated fadeInUp delay-05s">Get Started Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner end -->

<!-- Search area start -->

<!-- Search area start -->


<!-- Featured car end -->


<!-- Our services 3 end -->

<!-- Recent cars start -->

<!-- Recent cars end -->



<!-- External JS libraries -->
<script src="{% static 'assets2/js/jquery-2.2.0.min.js' %}"></script>
<script src="{% static 'assets2/js/popper.min.js' %}"></script>
<script src="{% static 'assets2/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets2/js/jquery.selectBox.js' %}"></script>
<script src="{% static 'assets2/js/rangeslider.js' %}"></script>
<script src="{% static 'assets2/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets2/js/jquery.filterizr.js' %}"></script>
<script src="{% static 'assets2/js/wow.min.js' %}"></script>
<script src="{% static 'assets2/js/backstretch.js' %}"></script>
<script src="{% static 'assets2/js/jquery.countdown.js' %}"></script>
<script src="{% static 'assets2/js/jquery.scrollUp.js' %}"></script>
<script src="{% static 'assets2/js/typed.min.js' %}"></script>
<script src="{% static 'assets2/js/jquery.mb.YTPlayer.js' %}"></script>
<script src="{% static 'assets2/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0N5pbJN10Y1oYFRd0MJ_v2g8W2QT74JE"></script>
<script src="{% static 'assets2/js/ie-emulation-modes-warning.js' %}"></script>
<!-- Custom JS Script -->
<script src="{% static 'assets2/js/app.js' %}"></script>

<!-- Google Tag Manager (noscript) -->
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WLMZXT6"
          height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
</body>
</html>>