<!DOCTYPE html>
<html lang="zxx">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TAGID');</script>
    <!-- End Google Tag Manager -->
    <title>Car Shop - Car Dealer HTML Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- External CSS libraries -->
    <link type="text/css" rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="assets/fonts/flaticon/font/flaticon.css">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon" >

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" href="assets/css/style.css">
</head>
<body id="top1">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TAGID"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="banner" id="top">
    <div class="headar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="logo pull-left">
                        <a href="#">
                            <img src="assets/img/logo-white.png" alt="logo">
                        </a>
                    </div>
                    <div class="btn-section pull-right">
                        <a href="#" class="btn-3"><i class="fa fa-shopping-cart"></i> Purchase Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Car Shop - Car Dealer HTML Template</h1>
                    <div class="demo-hero-menu">
                        <ul>
                            <li>6+ Home Pages</li>
                            <li>54+ Inner Pages </li>
                            <li>02+ Header Variation</li>
                            <li>01+ Footer Variation</li>
                        </ul>
                    </div>
                    <a class="btn-2 btn-defaults" href="#demos">
                        <span>View demos</span> <i class="arrow"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pad-tb-100-50" id="demos">
    <div class="container">
        <div class="main-title">
            <h5>= <span>Demo</span> =</h5>
            <h1>Home Pages</h1>
            <p>Choose one of styles or cutomize easily your site following your ideas. More demos are coming soon.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="demo-item">
                    <a href="main/index.html" class="line">
                        <div class="thumb-photo">
                            <img src="assets/img/demo-1.png" alt="img" class="hh">
                            <div class="demo-item-content"></div>
                            <div class="demo-item-inner">
                                <a href="main/index.html" class="icon">
                                    <i class="flaticon-arrow-pointing-to-right"></i>
                                </a>
                            </div>
                        </div>
                    </a>
                    <a href="main/index.html">
                        <h4>
                            Home - 01 <i class="flaticon-arrow-pointing-to-right"></i>
                        </h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="demo-item">
                    <a href="main/index-2.html" class="line">
                        <div class="thumb-photo">
                            <img src="assets/img/demo-2.png" alt="img" class="hh">
                            <div class="demo-item-content"></div>
                            <div class="demo-item-inner">
                                <a href="main/index-2.html" class="icon">
                                    <i class="flaticon-arrow-pointing-to-right"></i>
                                </a>
                            </div>
                        </div>
                    </a>
                    <a href="main/index-2.html">
                        <h4>
                            Home - 02 <i class="flaticon-arrow-pointing-to-right"></i>
                        </h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="demo-item">
                    <a href="main/index-3.html" class="line">
                        <div class="thumb-photo">
                            <img src="assets/img/demo-3.png" alt="img" class="hh">
                            <div class="demo-item-content"></div>
                            <div class="demo-item-inner">
                                <a href="main/index-3.html" class="icon">
                                    <i class="flaticon-arrow-pointing-to-right"></i>
                                </a>
                            </div>
                        </div>
                    </a>
                    <a href="main/index-3.html">
                        <h4>
                            Home - 03 <i class="flaticon-arrow-pointing-to-right"></i>
                        </h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="demo-item">
                    <a href="main/index-4.html" class="line">
                        <div class="thumb-photo">
                            <img src="assets/img/demo-4.png" alt="img" class="hh">
                            <div class="demo-item-content"></div>
                            <div class="demo-item-inner">
                                <a href="main/index-4.html" class="icon">
                                    <i class="flaticon-arrow-pointing-to-right"></i>
                                </a>
                            </div>
                        </div>
                    </a>
                    <a href="main/index-4.html">
                        <h4>
                            Home - 04 <i class="flaticon-arrow-pointing-to-right"></i>
                        </h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="demo-item">
                    <a href="main/index-5.html" class="line">
                        <div class="thumb-photo">
                            <img src="assets/img/demo-5.png" alt="img" class="hh">
                            <div class="demo-item-content"></div>
                            <div class="demo-item-inner">
                                <a href="main/index-5.html" class="icon">
                                    <i class="flaticon-arrow-pointing-to-right"></i>
                                </a>
                            </div>
                        </div>
                    </a>
                    <a href="main/index-5.html">
                        <h4>
                            Home - 05 <i class="flaticon-arrow-pointing-to-right"></i>
                        </h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="demo-item">
                    <a href="main/index-6.html" class="line">
                        <div class="thumb-photo">
                            <img src="assets/img/demo-6.png" alt="img" class="hh">
                            <div class="demo-item-content"></div>
                            <div class="demo-item-inner">
                                <a href="main/index-6.html" class="icon">
                                    <i class="flaticon-arrow-pointing-to-right"></i>
                                </a>
                            </div>
                        </div>
                    </a>
                    <a href="main/index-6.html">
                        <h4>
                            Home - 06 <i class="flaticon-arrow-pointing-to-right"></i>
                        </h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo2">
                    <a href="#"><img src="assets/img/logo-white.png" alt="logo"></a>
                </div>
                <p class="copy">© 2022 <a href="#">Theme Vessel.</a> Trademarks and brands are the property of their respective owners.</p>
            </div>
        </div>
    </div>
</footer>

<!-- External JS libraries -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<!-- Custom JS Script -->
<script  src="assets/js/app.js"></script>
</body>
</html>